@import "tailwindcss";

:root{

--primary:#2e4c8d;
--secondary:#0a73a3;
--dark:#0F172A;
--slate:#1E293B;
--background:#F8FAFC;
--white:#ffffff;

}

*{

padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

font-family:"Inter",sans-serif;

background:var(--background);

color:var(--dark);

overflow-x:hidden;

}